////////////////////
//// Framework /////
////////////////////
/**
  box-sizing: border-box
  
body
  margin: 0*/

////////////
// resets //
////////////
.reset
  margin: 0
  text-decoration: none
  color: inherit
  border: 0
  font-weight: inherit
  
/////////////////
// positioning //
/////////////////
.absolute
  position: absolute

.relative
  position: relative
  
.fixed
  position: fixed
  
.block
  display: block

//////////
// flex //
//////////
.fl
  display: flex
  
.fl-row
  flex-direction: row
  
.fl-row-reverse
  flex-direction: row-reverse
  
.fl-column
  flex-direction: column
  
.fl-column-reverse
  flex-direction: column-reverse

.fl-space-between
  justify-content: space-between

.fl-space-around
  justify-content: space-around

// THINK ABOUT THIS
.fl-center
.fl-center-x:not(.fl-column)
.fl-center-x:not(.fl-column-reverse)
.fl-center-y.fl-column
.fl-center-y.fl-column-reverse
  justify-content: center

.fl-center
.fl-center-y
  align-items: center
  align-content: center

.fl-wrap
  flex-wrap: wrap

///////////////////
// width, height //
///////////////////
.w-full
  width: 100%
  
.w-full-at-1000
  width: 100%
  
.w-half
  width: 50%
  
.w-quarter
  width: 25%
  
.h-full
  height: 100%
  
.h-half
  height: 50%
  
.h-quarter
  height: 25%
  
for i in 10..250
  .w-{i * 5}
    width: i * 5px
    
  .w-max-{i * 5}
    max-width: i * 5px
    
  .h-{i * 5}
    height: i * 5px
    
  .h-max-{i * 5}
    max-height: i * 5px

/////////////////////
// margin, padding //
/////////////////////
.m-auto
  margin: auto

for i in 0..20
  .m-{i * 5}
    margin: i * 5px

  .m-v-{i * 5}
    margin-top: i * 5px
    margin-bottom: i * 5px

  .m-h-{i * 5}
    margin-left: i * 5px
    margin-right: i * 5px

  .m-l-{i * 5}
    margin-left: i * 5px

  .m-r-{i * 5}
    margin-right: i * 5px
    
  .m-t-{i * 5}
    margin-top: i * 5px
    
  .m-b-{i * 5}
    margin-bottom: i * 5px

  .p-{i * 5}
    padding: i * 5px

  .p-v-{i * 5}
    padding-top: i * 5px
    padding-bottom: i * 5px
    
  .p-h-{i * 5}
    padding-left: i * 5px
    padding-right: i * 5px
    
  .p-t-{i * 5}
    padding-top: i * 5px
    
  .p-b-{i * 5}
    padding-bottom: i * 5px
    
  .p-l-{i * 5}
    padding-left: i * 5px
    
  .p-r-{i * 5}
    padding-right: i * 5px

////////////
// shapes //
////////////
.circle
  border-radius: 100%
  
//////////
// text //
//////////
.text-center
  text-align: center
