.absolute
  position: absolute
.relative
  position: relative
.fixed
  position: fixed

for i in 0..20
  .top-{i}
    top: i * 5px
  .bottom-{i}
    bottom: i * 5px
  .left-{i}
    left: i * 5px
  .right-{i}
    right: i * 5px
